section .receipt {
    margin: 0;
    font-size: 12px;
    position: relative;
    font-family: 'courier';
}
.serif {
    font-family: serif;
}
.sans-serif {
    font-family: 'sans-serif';
}
.bold {
    font-weight: 700;
}
.x-bold {
    font-weight: 900;
    text-shadow: 0px 0px 1px #000;
}
.hr, .hr-sm, .hr-lg {
    border-bottom: 1.5px dashed #333;
    margin: 10px 0;
}
.hr-sm {
    width: 30%;
    float: right;
}
.hr-lg {
    width: 100%;
}
.col2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.container-ticket {
    background: #e6e6e6;
    width: 100%;
    min-height: max-content;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;
}
.container-ticket .ticket {
    cursor: default;
    position: relative;
    width: 300px;
    padding: 10px 20px;
    background: #fff url(https://static.licdn.com/scds/common/u/images/apps/payments/textures/texture_paper_304x128_v1.png);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}
.container-ticket .ticket .head-ticket {
    text-align: center;
    padding: 0px 17px;
}
.container-ticket .ticket .head-ticket p {
    font-size: 14px;
}
.container-ticket .ticket .head-ticket p:nth-child(1) {
    font-size: 18px;
}
.container-ticket .ticket .head-ticket p:nth-child(6), .container-ticket .ticket .head-ticket p:nth-child(7) {
    font-size: 12px;
    text-align: left;
}
.container-ticket .ticket .head-ticket .code-barre {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: -17px;
    margin-right: -17px;
    margin-top: 5px;
}
section.receipt {
    margin: 0;
    font-size: 12px;
    position: relative;
    font-family: 'courier';
}
.bold {
    font-weight: 700;
}
.hr, .hr-sm, .hr-lg {
    border-bottom: 1.5px dashed #333;
    margin: 10px 0;
}
.hr-sm {
    width: 100%;
}
.hr-lg {
    width: 100%;
    margin-top: 10px;
}
.dotted-line {
    border-bottom: 1.5px dotted #333;
    margin: 10px 0;
}
.col2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.col4 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin-top: 5px;
}
.header-row {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.product-row, .total-row {
    margin-bottom: 5px;
}
.container-ticket {
    background: #e6e6e6;
    width: 100%;
    min-height: max-content;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;
}
.container-ticket .ticket {
    cursor: default;
    position: relative;
    width: 300px;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}
.container-ticket .ticket .head-ticket {
    text-align: center;
}
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.logo-image {
    max-width: 50px;
    max-height: 50px;
}
.carte {
    text-align: center;
    font-size: 14px;
}
.carte .title-carte {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -2px;
}
.footer-ticket {
    padding-top: 10px;
}
.footer-ticket .title-footer {
    font-size: 16px;
    font-weight: 900;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
    text-align: center;
    letter-spacing: 2px;
}
